<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Welcome!
        {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Gestion des rendez-vous médicaux" name="HASSAINE YOUSRA CHAHDI IKRAM" />
    <!-- Cdn Css -->
    {% include('TemplateAdmin/Cdn_Template_Admin/CSS/css.html.twig') %}

    {% block stylesheets %}

        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body data-topbar="dark">

<!-- Begin page -->
<div id="layout-wrapper">


    {% include('TemplateAdmin/Cdn_Template_Admin/Header.html.twig') %}

    {% include('TemplateAdmin/Vertical_Menu.html.twig') %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!--Add Row-->
                {% block body %}
                {% endblock %}


            </div>
        </div>
        {% include('TemplateAdmin/Cdn_Template_Admin/Fotter.html.twig') %}
    </div>

</div>




{% include('TemplateAdmin/Cdn_Template_Admin/JS/js.html.twig') %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>

</html>
