{% extends 'TemplateAdmin/layout.html.twig' %}

{% block title %}RDV{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                        </div>

                    </div>

                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap table-check">
                            <thead class="table-light">
                            <tr>

                                <th class="align-middle">Patient</th>
                                <th class="align-middle">Type Rendez-VOUS</th>
                                <th class="align-middle">Date RENDEZ-VOUS</th>
                                <th class="align-middle">Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for appointment in appointments %}
                                <tr>


                                    <td>
                                        {{ appointment.Patient.nom }}

                                    </td>
                                    <td>
                                            {{ appointment.typeRdv.libelle }}
                                    </td>
                                    <td>
                                        {{ appointment.createdAt|date('Y-m-d\\TH:i')  }}
                                    </td>
                                    <td>
                                        <div class="d-flex gap-3">
                                            <a href="{{ path('updateAppointment', {'id': appointment.id}) }}" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
        </div>
    </div>

{% endblock %}