

.image-container {
    position: relative;
    display: inline-block;
}

.round-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden; /* Pour s'assurer que l'image est coupée en forme de cercle */
}

.remove-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

